.container {
  display: flex;
  justify-content: space-between;
}
.player-container {
  text-align: center;
  margin-top: 20px;
  width: 45%;
}

#player1 #player2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dice input {
  width: 100%;
  padding: 20px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #a9a9a9;
}

#dice input:hover {
  background: #d3d3d3;
}

#cube1 .front,
#cube2 .front {
  transform: translateZ(100px);
}

#cube1 .back,
#cube2 .back {
  transform: rotateX(-180deg) translateZ(100px);
}

#cube1 .right,
#cube2 .right {
  transform: rotateY(90deg) translateZ(100px);
}

#cube1 .left,
#cube2 .left {
  transform: rotateY(-90deg) translateZ(100px);
}

#cube1 .top,
#cube2 .top {
  transform: rotateX(90deg) translateZ(100px);
}

#cube1 .bottom,
#cube2 .bottom {
  transform: rotateX(-90deg) translateZ(100px);
}

.container-cube1,
.container-cube2 {
  width: 200px;
  height: 200px;
  border: 1px solid #fff;
  perspective: 1000px;
  perspective-origin: 50% 100%;
  display: inline-block;
}
.container-cube2 {
  margin-left: 300px;
}

#cube1,
#cube2 {
  width: 100%;
  height: 100%;
  top: 100px;
  position: absolute;

  transform-style: preserve-3d;

  transition: transform 6s;
}

#cube1 div {
  background: hsla(180, 100%, 25%, 0.7);
  display: block;
  position: absolute;
  width: 200px;
  height: 100px;
  border: 2px solid #ab1a1a;
  border-radius: 7px;

  margin: 0 auto;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 500%;
  text-align: center;
  padding: 50px 0;
}

#cube2 div {
  background: hsla(0, 100%, 25%, 0.7);
  display: block;
  position: absolute;
  width: 200px;
  height: 100px;
  border: 2px solid #ab1a1a;
  border-radius: 7px;

  margin: 0 auto;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 500%;
  text-align: center;
  padding: 50px 0;
}

.dot {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 15px;
}

.front .dot1 {
  top: 85px;
  left: 85px;
}
.back .dot1 {
  top: 45px;
  left: 45px;
}
.back .dot2 {
  top: 125px;
  left: 125px;
}
.right .dot1 {
  top: 45px;
  left: 45px;
}
.right .dot2 {
  top: 85px;
  left: 85px;
}
.right .dot3 {
  top: 125px;
  left: 125px;
}
.left .dot1 {
  top: 45px;
  left: 45px;
}
.left .dot2 {
  top: 45px;
  left: 125px;
}
.left .dot3 {
  top: 125px;
  left: 45px;
}
.left .dot4 {
  top: 125px;
  left: 125px;
}
.top .dot1 {
  top: 45px;
  left: 45px;
}
.top .dot2 {
  top: 45px;
  left: 125px;
}
.top .dot3 {
  top: 85px;
  left: 85px;
}
.top .dot4 {
  top: 125px;
  left: 45px;
}
.top .dot5 {
  top: 125px;
  left: 125px;
}
.bottom .dot1 {
  top: 45px;
  left: 45px;
}
.bottom .dot2 {
  top: 45px;
  left: 85px;
}
.bottom .dot3 {
  top: 45px;
  left: 125px;
}
.bottom .dot4 {
  top: 125px;
  left: 45px;
}
.bottom .dot5 {
  top: 125px;
  left: 85px;
}
.bottom .dot6 {
  top: 125px;
  left: 125px;
}
