header {
  text-align: center;
  color: #fff;
  font-size: larger;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 230px 0;
}
.container {
  background-color: #fff;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px; /* Adjust this value to decrease or increase the distance from the top */
}

#players {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 3px solid black;
  border-radius: 3px;
}

button {
  background: #fbca1f;
  font-family: inherit;
  padding: 0.3em 1em;
  font-weight: 900;
  border: 1px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

.btn1 {
  margin-bottom: 40px;
}

button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.button-container {
  text-align: center;
  margin-top: 40px; /* Adjust this value based on your design */
}

#continue,
#quit {
  margin-right: 20px;
}

footer {
  text-align: center;
  color: #fff;
}
