main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 210px 0; /* Add margin to the top and bottom of the main container */
}

header {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  font-size: larger;
}

.rules-container {
  border: 5px solid burlywood; /* Border color */
  border-radius: 8px;
  padding: 60px;
  margin-bottom: 20px;
  background: #f1f1f1;
  background-image: linear-gradient(
      90deg,
      transparent 50px,
      #ffb4b8 50px,
      #ffb4b8 52px,
      transparent 52px
    ),
    linear-gradient(#e1e1e1 0.1em, transparent 0.1em);
  background-size: 100% 30px;
}

.rules-container h2 {
  color: #333;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
}

#rules {
  list-style-type: square; /* Use square bullets for the list */
  padding-left: 20px; /* Add left padding to the list items for indentation */
}

#rules li {
  margin-bottom: 10px; /* Add margin between list items */
}

button {
  background: #fbca1f;
  font-family: inherit;
  padding: 0.3em 1em;
  font-weight: 900;
  border: 1px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.button-container {
  text-align: center;
  margin-top: 20px; /* Add margin to the top of the button container */
}
#begin,
#back,
#quit {
  margin-right: 20px;
}

footer {
  text-align: center;
  color: #fff;
}
