/*Homepage CSS*/

body {
  font-family: "Anta", sans-serif; /* open to a different font*/
  font-weight: 400;
  font-style: normal;
  background: url(); /* a nice background image?*/
  height: 100px;
  background-size: 100%;
}

header {
  font-size: 36px bold;
  text-align: center;
}

/* Players container CSS */
.containter h2 {
  text-align: center;
}
#players {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#players input[type="text"] {
  margin-bottom: 5px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 250px;
  font-size: 16px;
}
#players button {
  --glow-color: rgb(228, 200, 204);
  --glow-spread-color: rgba(237, 136, 158, 0.781);
  --enhanced-glow-color: rgb(234, 169, 174);
  --btn-color: #ab372a;
  border: 0.25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}

#players button::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

#players button:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

#players button:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}

/*Rules container CSS*/
.rules-container {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(173, 106, 106, 0.12) 0px -12px 30px,
    rgba(220, 104, 104, 0.12) 0px 4px 6px,
    rgba(234, 138, 138, 0.17) 0px 12px 13px,
    rgba(214, 140, 140, 0.09) 0px -3px 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  padding: 40px;
  border-radius: 30px 30px;
}
.rules-container p {
  font-size: 20px;
}

#rules {
  list-style: none;
  font-size: 16px;
}

/*button container CSS*/
.button-container {
  text-align: center;
}

#begin {
  --glow-color: rgb(228, 200, 204);
  --glow-spread-color: rgba(237, 136, 158, 0.781);
  --enhanced-glow-color: rgb(234, 169, 174);
  --btn-color: #ab372a;
  border: 0.25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}

#begin::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

#begin:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

#begin:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}

#quit {
  --glow-color: rgb(228, 200, 204);
  --glow-spread-color: rgba(237, 136, 158, 0.781);
  --enhanced-glow-color: rgb(234, 169, 174);
  --btn-color: #ab372a;
  border: 0.25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}

#quit::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

#quit:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

#quit:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}

footer {
  text-align: center;
  margin: 0 auto;
}
